* {
{
margin: 0;
padding:0;
box-sizing:border-box;
font-family:Roboto, sansserif;
}

body {
background-color: #E7E7E7;
padding-top: 100px;
}

header {
display:flex;
align-items: center;
margin-bottom: 45px;
}

header img {
height: 36px;
margin-right: 16px;
}

header h1 {
font-size: 40px;
font-weight: bold;      
}

.container {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
}

form {
    display: flex;
    max-width: 500px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 56px;
}

form input{
    width: 100%;
    padding: 10px 
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: none;    
}
form button {
    background-color: #4CAF50;  
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: ;
    transition: background-color 0.3s ease;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
table th{
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: left;
    font-size: 16px;    
    font-weight: bold;
    border-bottom: 2px solid #ccc;     
}

table td{
    text-align: center;
    padding: 16px;
    border-bottom: 1px solid #ccc;
    font-size: 19px;    
    color: #333;
}

table td img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.resultado {
    margin-top: 20px;
    font-size: 18px;
    color: #f8f8f8;
    background-color:#4CAF50;
    font-weight: bold;
    border-radius: 4px;
    padding: 10px;
}

.Aprovado {
background-color: #48b34c;
}
.reprovado {
background-color: #FF0000;  
}


}
